@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121218;
  color: white;
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
